*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.env
venv

# CDK asset staging directory
.cdk.staging
cdk.out

# PyCharm
.idea/

# Local use
lambda/create_deployment_package.py
lambda/venv/
lambda/python/
lambda/package/
AWSCLIV2.pkg
